# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Ignore Node.js modules
node_modules/

# Ignore production build files
build/
dist/

# Ignore environment files
.env.local
.env.development
.env.production

# Ignore macOS .DS_Store files
.DS_Store

# Ignore npm/yarn log files
yarn-error.log
npm-debug.log
